@using RestaurantReservationSystem.Mvc.Models;
@model Table
@{
    ViewData["Title"] = "Update table";
}

<form asp-action="Update" method="post">
  <div class="mb-3">
    <label asp-for="TableId" class="form-label">Table id</label>
    <input asp-for="TableId" type="number" class="form-control" aria-describedby="Id">
    <span asp-validation-for="TableId" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Capacity" class="form-label">Capacity</label>
    <input asp-for="Capacity" type="number" class="form-control">
    <span asp-validation-for="Capacity" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Cost" class="form-label">Cost</label>
    <input asp-for="Cost" type="number" class="form-control">
    <span asp-validation-for="Cost" class="text-danger"></span>
  </div>
  <div>
    <label class="form-label">Is table reserved?</label>
    <div class="form-check">
        <input asp-for="IsReserved" class="form-check-input" type="radio" value=true name="IsReserved">
        <label asp-for="IsReserved" class="form-check-label" >
            Yes
        </label>
    </div>
    <div class="form-check">
        <input asp-for="IsReserved" class="form-check-input" type="radio" value=false name="IsReserved" checked>
        <label asp-for="IsReserved" class="form-check-label">
            No
        </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-5">Add</button>
</form>