@{
    ViewData["Title"] = "Home Page";
}

<style>
    .text-center {
        height: 75vh;
    }
    .login-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
    }
</style>

<div class="text-center">
    <marquee><h1 class="display-4">Welcome</h1></marquee>
    
    <div class="login-div">
        <button type="button" class="btn btn-primary btn-lg" onclick="handleLoginClick()">Login</button>
        <button type="button" class="btn btn-secondary btn-lg mt-4">Sign up</button>
    </div>
</div>

<script>
    const handleLoginClick = () => {
        window.location.href = '@Url.Action("Login", "Account")';
    }
</script>