@using RestaurantReservationSystem.Mvc.Models;

@{
    ViewData["Title"] = "Customer Data";
}
@model Customer

<form action="~/Customers/Edit" method="post">
    <fieldset>
        <div>
            <label>Id</label>
            <input type="number" asp-for="CustomerId" readonly>
        </div>
        <div>
            <label>Name</label>
            <input type="text" asp-for="Name">
        </div>
        <div>
            <label>Phone Number</label>
            <input type="text" asp-for="PhoneNumber">
        </div>
        <div>
            <label>Age</label>
            <input type="number" asp-for="Age">
        </div>
        <div>
            <label>Gender</label>
            <select asp-for="Gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </fieldset>
</form>
